<template>
	<p>Demo Component {{ appConfig.appName }} {{ value.data }} {{ t('welcome') }}</p>
</template>

<script setup lang="ts">
/**
 * Demo component
 *
 * Description
 */
import useValue from '~/composables/useValue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

const appConfig = useAppConfig();
const value = useValue();
</script>
