.light-mode {
	$primaryColor: #3d6cfb !default;
	$primaryLightColor: #acbdf3 !default;
	$primaryDarkColor: scale-color($primaryColor, $lightness: -5%) !default;
	$primaryDarkerColor: scale-color($primaryColor, $lightness: -10%) !default;
	$primaryTextColor: #f4f5f8 !default;

	$highlightBg: #dfe6fd !default;
	$highlightTextColor: $primaryDarkerColor !default;
	$highlightFocusBg: rgba($primaryColor, 0.24) !default;

	@import 'variables';
	@import '../prime/components';
	@import 'extensions';
	font-family: $fontFamily;
	color-scheme: light;
}
