.dark-mode {
	$primaryColor: #6180e3 !default;
	$primaryLightColor: #9fb6fa !default;
	$primaryDarkColor: scale-color($primaryColor, $lightness: -5%) !default;
	$primaryDarkerColor: scale-color($primaryColor, $lightness: -10%) !default;
	$primaryTextColor: #1a1c26 !default;

	$highlightBg: #151826 !default;
	$highlightTextColor: $primaryDarkerColor !default;
	$highlightFocusBg: rgba($primaryColor, 0.24) !default;

	@import 'variables';
	@import '../prime/components';
	@import 'extensions';
	font-family: $fontFamily;
	color-scheme: dark;
}
