<template>
	<div>
		<p-dropdown v-model="colorMode.preference" :options="themes" placeholder="Select a theme" />
		<p-button label="Button" icon="pi pi-check" />
		<p-input-text type="text" />
	</div>
</template>
<script lang="ts" setup>
const colorMode = useColorMode();

const themes = ['system', 'light', 'dark'];
</script>
